<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!--#html5forie.js 针对不支持HTML最新tag的浏览器来手工创建它们.--> 
		<!--[if IE]>  
		<script type="text/javascript" src="/js/html5forie.js"></script>
		<![endif]-->  
		<script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/colorpicker.js"></script>
		<script type="text/javascript" src="/js/eye.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        <script type="text/javascript" src="/js/layout.js?ver=1.0.2"></script>
		
		<!-- #html5forie.css 针对不支持HTML最新tag的浏览器来手工创建它们.--> 
		<link rel="stylesheet" media="screen" type="text/css" href="/css/html5forie.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="/css/colorpicker.css"/>
		
        
		<script>
		var array = new Array();/* 后面使用 */
		$(function() {
			/* 增加 Color 选择器，onSubmit 对应选择后 的提交动作。*/
			$('#colorpicker').ColorPicker({ 
			onSubmit: function(hsb, hex, rgb) {

                  $('#colorpicker').val(hex);
				   }
			 });
			 
			
             
	});

    function check(){
		/*在提交时检查输入框是否为空，如果为空，将使用alert提醒用户 。flag变量用于控制所有的输入框是否为有效值，一旦一个为空，将
		 flag 设置为false。
		 */
		 
		 var flag='true';
		 $('#formElem input,#formElem textarea').each(function(){
		 	    /*在这里使用正则表达式（this.value.replace(/\s/gi,"")）来替换空格输入，以防止输入为空格。 */
			 	var textValue = this.value.replace(/\s/gi,"");
				if(textValue==""){
					
					alert(this.name+" 不能为空");
					flag='false';
					$(this).css('background-color','#53d99c')
					
				}
						
			 });
		 //alert('final:'+flag);	 
		 if(flag=='true'){
		 	$('#formElem').submit();
						
		 }
	}
			
		</script>
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="print"/>
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"/>
		<title>Add Category</title>
	</head>
	<style>
	
        span.reference{
            position:fixed;
            left:5px;
            top:5px;
            font-size:10px;
            text-shadow:1px 1px 1px #fff;
        }
        span.reference a{
            color:#555;
            text-decoration:none;
			text-transform:uppercase;
        }
        span.reference a:hover{
            color:#000;
            
        }
        h1{
            color:#ccc;
            font-size:36px;
            text-shadow:1px 1px 1px #fff;	
            padding:20px;
        }
		p>span{
		
		}
    </style>
	<body>
	{{header}}

	<div id="content">
	<div id="wrapper">
    <div id="steps">
	
	<form id="formElem" name="formElem" action="/home/addcate" method="post">
    <fieldset class="step">
	<legend>添加分类</legend>	
     <p>
     	<label accesskey="n" ><em>N</em>ame</label>
		<input id="cate" name="cate" />
     </p>
	 
	  <p>
     	<label accesskey="d" >Description</label>
		<textarea id="desc" name="descript" class="desc"></textarea>
     </p>
	 <p>
	 	
	 		<label>Color Picker:</label> <input type="text" id="colorpicker" name="color" readonly="true"/>
			
	   </p>

	 
     	
		
	<button onclick="check()" type="button">Add</button>
	
	</fieldset>
	  
    </form>
	</div>
	
	




   </div>
 

<div id="showcate" class="showcate">
	<h1>已有分类</h1>
	{% for item in items %}
   
    
   <p id="{{item.key}}" class=item><a href="#"><span style='display:none'>{{item.descript}}</span>{{item.name}}</a></p>
   
    {% endfor %}
   
  
 </div>
<div id=descript>


</div>    
	



</div>

 <script>
   {% for item in items %}
   	var cl = '#'+'{{item.color}}'
	
   	$('#{{item.key}}').css('background-color',cl);
	{% endfor %}
	
   </script>
	</body>
<script>

 
  
function createSticky(data){


$('#descript').html(data);
}




$('.item').click(function(){
createSticky($(this).find("span").html())});

</script>
	
</html>
